.kpi_card {
    min-width : 320px;
    max-width : 320px;
    vertical-align: top;
    width: 320px;
    min-height : 210px;
    max-height : 210px;
    height: 210px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    display:inline-block;
    text-align:center;
    margin: 5px;
    background-color : #333333;
  }

  .kpi_card_title {
    background-color: #990000
  }

  .overlay {
    position: fixed; /* Sit on top of the page content */
    background-color: #195700;
    z-index:999;
    display:none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;
    cursor: pointer; /* Add a pointer on hover */
  }