.kpi_card {
    min-width : 320px;
    max-width : 320px;
    vertical-align: top;
    width: 320px;
    min-height : 210px;
    max-height : 210px;
    height: 210px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    display:inline-block;
    text-align:center;
    margin: 5px;
    background-color : #333333;

    -moz-box-shadow:    3px 3px 5px 6px rgb(46, 46, 46);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(46, 46, 46);
    box-shadow:         3px 3px 5px 6px rgb(46, 46, 46);
  }

  .kpi_card_title {
    background-color: #990000
  }