# Logs
logs
*.log
npm-debug.log*

# output
local_kpis_microservice/dist
serverApiGateWay_microservice/dist
visualization_app/stats.json
visualization_app/dist

# local configurations
serverApiGateWay_microservice/config.json
local_kpis_microservice/config.json
local*.json


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# next.js build output
.next
