{
    "kpis": [
        {
            "name":"sample_kpi_1",
            "id" : 123,
            "type" : "continuous_without_deadline",
            "description": "an optional description",
            "tags": ["tag_1","tag_2"],
            "goal" : {
                "target" : 0
            },
            "measurements": [
                {"date" : "2013-02-08" , "value" : 3},
                {"date" : "2013-04-08" , "value" : 2},
                {"date" : "2013-02-18" , "value" : 1}
            ]
        },
        {
            "name":"sample_kpi_2",
            "id" : 345,
            "type" : "continuous_without_deadline",
            "tags": ["tag_1","tag_2"],
            "goal" : {
                "target" : 0
            },
            "measurements": [
                {"date" : "2013-02-08" , "value" : 3},
                {"date" : "2013-04-08" , "value" : 2},
                {"date" : "2013-02-18" , "value" : 1}
            ]
        },
        {
            "name":"sample_kpi_3",
            "id" : 567,
            "type" : "continuous_without_deadline",
            "tags": ["tag_1","tag_2"],
            "goal" : {
                "target" : 0
            },
            "measurements": [
                {"date" : "2013-02-08" , "value" : 3},
                {"date" : "2013-04-08" , "value" : 2},
                {"date" : "2013-02-18" , "value" : 1}
            ]
        }
    ]
}